/* App Style common */
body{
  font-family: system-ui, sans-serif;
  font-size: 14px;
}

header {
  color:#fff !important;
  padding: 1.5rem 0 0 !important;
}

footer {
  background: #11b67a !important;
}

.sidebar, .home-container {
  border-top: 2px solid #11b67a;
}


.navbar {
      display: flex;
      align-items: center;
      background-color: #11b67a;
      padding: 10px 20px;
      flex-wrap: wrap;
    }

    .navbar .home-icon {
      margin-right: 20px;
      font-size: 20px;
    }

    .navbar .menu {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }

    .navbar .menu-item {
      cursor: pointer;
      display: flex;
      align-items: center;
    }

    .navbar .menu-item i {
      margin-left: 5px;
    }


    .table-container {
      padding: 20px;
    }

    .table-header {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;
      margin-bottom: 15px;
    }

    .filters select {
      margin-right: 10px;
      padding: 5px;
      width: 150px;
    }

    .search-bar, .filters {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .search-bar input {
      padding: 5px;
      width: 100px;
    }

    .summary-box {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      background-color: #f9f9f9;
      padding: 20px;
      border-bottom: 1px solid #ccc;
    }

    .summary-item {
      flex: 1 1 30%;
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }

    .summary-item label {
      font-weight: bold;
      margin-right: 5px;
    }

    .summary-item i {
      margin-left: 5px;
      color: #888;
    }

    .summary-item select {
      margin-left: 10px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      overflow-x: auto;
      display: block;
    }

    thead {
      background-color: #f0f0f0;
    }

    tbody {
      background-color: #fff;
    }

    th, td {
      padding: 10px;
      border: 1px solid #ccc;
      text-align: left;
      white-space: nowrap;
    }



    @media (max-width: 768px) {
      .table-header {
        flex-direction: column;
        align-items: flex-start;
      }

      .search-bar input {
        width: 100%;
      }

      table {
        display: block;
        overflow-x: auto;
      }
    }

